@import url('https://fonts.googleapis.com/css2?family=News+Cycle&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bevan&display=swap');


$text-regular : 'News Cycle', sans-serif;
$text-judul : 'Oswald', sans-serif;
$text-H : 'Bevan', cursive;;
$color-text: #c01d2e;
$color-bg: #fefefe;
$color-line: black;