@import url("https://fonts.googleapis.com/css2?family=News+Cycle&family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bevan&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fefefe;
  font-family: "Oswald", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 100;
}

.container .text-jumbo {
  margin-top: 20px;
  width: 50%;
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #c01d2e;
  margin-bottom: 8px;
}

.container .text-jumbo h1 {
  font-family: "Bevan", cursive;
  background-color: inherit;
  color: #fefefe;
  font-size: 70px;
  letter-spacing: 10px;
}

.container .line {
  width: 50%;
  height: 4px;
  position: relative;
  display: block;
  background-color: black;
}

.container main {
  width: 50%;
  height: 65vh;
  background-color: #fefefe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 8px;
}

.container main .containerline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20%;
  height: 100%;
  margin: auto 20px;
}

.container main .containerline .line {
  margin-top: 8px;
  margin-bottom: 20px;
  width: 100%;
  height: 4px;
  position: relative;
  display: block;
  background-color: black;
}

.container main .containerline .line1 {
  margin-top: 8px;
  margin-bottom: 20px;
  width: 70%;
  height: 4px;
  position: relative;
  display: block;
  background-color: black;
}

.container main .containerline .line2 {
  margin-top: 8px;
  margin-bottom: 20px;
  width: 70%;
  height: 4px;
  position: relative;
  display: block;
  background-color: black;
}

.container main form {
  border: 2px solid black;
  padding: 20px;
  margin-top: 8px;
  width: 50%;
  max-height: 65vh;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container main form .error {
  font-size: 13px;
  margin: 0px auto;
  width: 100%;
  border: 2px solid #c01d2e;
}

.container main form input[type=text] {
  width: 100%;
  height: 40px;
  border: 2px solid black;
  border-left: none;
  border-right: none;
  border-top: none;
  font-family: "News Cycle", sans-serif;
  font-size: 15px;
  margin-bottom: 30px;
}

.container main form input[type=text]:focus {
  outline: none;
}

.container main form input[type=text]:hover {
  border-bottom: 2px solid #c01d2e;
}

.container main form input[name=namadpn] {
  width: 45%;
  padding: 5px;
}

.container main form input[name=namablk] {
  width: 50%;
  margin-left: 10px;
  padding: 5px;
}

.container main form input[type=email] {
  width: 100%;
  height: 40px;
  padding: 5px;
  border: 2px solid black;
  border-left: none;
  border-right: none;
  border-top: none;
  font-family: "News Cycle", sans-serif;
  font-size: 15px;
  margin-bottom: 30px;
}

.container main form input[type=email]:focus {
  outline: none;
}

.container main form input[type=email]:hover {
  border-bottom: 2px solid #c01d2e;
}

.container main form input[type=password] {
  width: 90%;
  height: 40px;
  border: 2px solid black;
  border-left: none;
  border-right: none;
  border-top: none;
  font-family: "News Cycle", sans-serif;
  font-size: 15px;
  margin-bottom: 30px;
}

.container main form input[type=password]:focus {
  outline: none;
}

.container main form input[type=password]:hover {
  border-bottom: 2px solid #c01d2e;
}

.container main form input[name=pass] {
  width: 40%;
  padding: 5px;
}

.container main form input[name=re_pass] {
  width: 45%;
  margin-left: 5px;
  padding: 5px;
}

.container main form span {
  margin-left: 10px;
}

.container main form .check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-bottom: 20px;
}

.container main form .check input[type=checkbox] {
  margin-right: 20px;
}

.container main form input[type=submit] {
  width: 80px;
  height: 30px;
  margin: 0px auto;
  background-color: #fefefe;
  border: 2px solid black;
  -webkit-transition: all width .1s;
  transition: all width .1s;
}

.container main form input[type=submit]:hover {
  background-color: #c01d2e;
  -webkit-transition: all ease-in-out .2s;
  transition: all ease-in-out .2s;
  border: none;
  color: #fefefe;
}

.container main form a {
  font-size: 14px;
}
/*# sourceMappingURL=daftar.css.map */